Repository hongyingxin/my-nuxy-movie: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

ci: :ferris_wheel: 主题样式和typescript报错
  api/discover.ts
  api/search.ts
  app.vue
  assets/css/tailwind.css
  components/Common/ThemeSwitcher.vue
  components/Common/ThemeToggle.vue
  components/Search/SearchBox.vue
  components/layout/Header.vue
  composables/useInfiniteScroll.ts
  composables/useScreenSize.ts
  constants/theme.ts
  docs/theme-implementation.md
  eslint.config.mjs
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  pages/[type]/[id]/index.vue
  pages/discover/[type].vue
  pages/index.vue
  pages/search/index.vue
  stores/theme.ts
  tailwind.config.ts
  types/theme.ts
  utils/common.ts
  utils/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 暗黑主题下页面适配
  components/Common/LanguageSwitcher.vue
  components/Common/Pagination.vue
  components/Search/SearchBox.vue
  components/Search/SearchSuggestions.vue
  components/Skeleton/Card.vue
  components/Skeleton/List.vue
  components/Skeleton/ListItem.vue
  components/Skeleton/LoadingState.vue
  components/layout/Header.vue
  components/media/Card.vue
  components/media/ListItem.vue
  components/media/PageHeader.vue
  components/media/PersonCard.vue
  components/media/PersonListItem.vue
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
  pages/actors/[id].vue
  pages/actors/index.vue
  pages/discover/[type].vue
  pages/index.vue
  pages/search/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 暗黑主题适配微调
  components/layout/Footer.vue
  components/layout/Header.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 多语言翻译查漏补缺
  components/Search/SearchBox.vue
  components/Search/SearchSuggestions.vue
  components/media/ListItem.vue
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 优化主题切换
  app.vue
  components/Common/ThemeSwitcher.vue
  components/Common/ThemeToggle.vue
  constants/theme.ts
  docs/memo.md
  stores/theme.ts
  utils/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: :sparkles: 多语言翻译查漏补缺
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
Due: eslint --fix, prettier --write

docs: :memo: 备忘录更新
  docs/memo.md
Due: prettier --write

fix(pages): :bug: 接口pages字段最大仅支持500
  docs/memo.md
  pages/discover/[type].vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: :memo: 更新文档
  README.md
Due: prettier --write

feat: :sparkles: 修复警告
  components/layout/Header.vue
  constants/navigation.ts
  pages/discover/[type].vue
  stores/language.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 新增视频
  api/detail.ts
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 新增视频播放弹窗和预览
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(components): :sparkles: 封装了组件播放组件
  components/media/VideoModal.vue
  docs/components.md
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  pages/[type]/[id]/gallery.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(components): :sparkles: 封装视频网格展示组件
  components/media/VideoGrid.vue
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 详情页增加预告片播放
  pages/[type]/[id]/index.vue
  utils/video.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: :bug: 已知bug修复
  stores/theme.ts
Due: eslint --fix, prettier --write

docs: :memo: 文档更新
  README.md
  docs/components.md
Due: prettier --write

feat(pages): :sparkles: 详情页使用组件话
  components/Skeleton/Gallery.vue
  components/Skeleton/VideoGrid.vue
  components/media/Gallery.vue
  docs/common-patterns.md
  docs/components.md
  docs/memo.md
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 补充演职员页面缺少的翻译
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  pages/[type]/[id]/credits.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: ((any of: *.{js,ts,vue}) or (any of: *.{css,scss,vue})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{css,scss,vue}
