Repository hongyingxin/my-nuxy-movie: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

build: 可视化工具
  .czrc
  .gitignore
  commitlint.config.js
  docs/git-hooks.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: 集成
  .czgrc.js
Due: eslint --fix, prettier --write

docs: 文档更新
  README.md
Due: prettier --write

feat: 开启图标
  test.txt
Due: none

feat: 开启图标
  .czgrc.js
  test.txt
Due: eslint --fix, prettier --write

feat(other): :sparkles: 开启图标
  test.txt
Due: none

feat(components): :sparkles: 删除多余的东西
  .czrc
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  test.txt
Due: prettier --write

docs: :memo: 更新文档
  .husky/commit-msg
  docs/git-hooks.md
Due: prettier --write

feat(pages): :sparkles: 跳转链接
  components/layout/Header.vue
  constants/navigation.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 添加错误页面和修复SSR兼容性问题
  .gitignore
  app.vue
  env.example
  error.vue
  nuxt.config.ts
  stores/genre.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: :package: env文件
  .env
  .gitignore
Due: none

build: :package: 去除image配置
  nuxt.config.ts
Due: eslint --fix, prettier --write

feat(config): :sparkles: 多语言
  README.md
  api/detail.ts
  constants/languages.ts
  docs/README.md
  docs/languages.md
  docs/memo.md
  pages/discover/[type].vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

feat: 完整集成多语言支持
  .cursorrules
  app.vue
  components/Common/LanguageSwitcher.vue
  components/layout/Header.vue
  eslint.config.mjs
  language/en.ts
  language/zh.ts
  nuxt.config.ts
  package.json
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
  pages/actors/[id].vue
  pages/actors/index.vue
  pages/discover/[type].vue
  pages/index.vue
  pages/search/index.vue
  stores/language.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: 添加 Nuxt i18n 多语言集成指南
  docs/README.md
  docs/i18n-guide.md
Due: prettier --write

docs: :memo: 文档更新
  .cursorrules
Due: none

feat(components): :sparkles: 翻译补充
  constants/navigation.ts
Due: eslint --fix, prettier --write

feat: :sparkles: 补充多语言
  components/layout/Header.vue
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  nuxt.config.ts
  stores/language.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: :sparkles: 多语言
  .cursorrules
  composables/useHttp.ts
  docs/common-patterns.md
  nuxt.config.ts
  stores/language.ts
Due: eslint --fix, prettier --write

feat: :sparkles: 优化多语言配置
  .env
  constants/languages.ts
  env.example
  nuxt.config.ts
  stores/language.ts
  types/language.ts
Due: eslint --fix, prettier --write

feat(other): :sparkles: 语言筛选补充多语言
  api/detail.ts
  docs/memo.md
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  nuxt.config.ts
  pages/discover/[type].vue
  stores/language.ts
  types/language.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(components): :sparkles: 优化header组件
  components/layout/Header.vue
  stores/language.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(components): :sparkles: 地区模块新增多语言翻译
  api/configuration.ts
  constants/index.ts
  constants/regions.ts
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
  pages/discover/[type].vue
  stores/region.ts
  types/apiType/configuration.ts
  types/apiType/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: typescript类型补充
  package.json
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/index.vue
  pages/actors/index.vue
  pages/discover/[type].vue
  pages/index.vue
  pages/search/index.vue
  pnpm-lock.yaml
  types/pages/actors_id.ts
  types/pages/actors_index.ts
  types/pages/discover_type.ts
  types/pages/index.ts
  types/pages/search_index.ts
  types/pages/type_id_credits.ts
  types/pages/type_id_gallery.ts
  types/pages/type_id_index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Revert "feat(pages): :sparkles: typescript类型补充"
  package.json
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/index.vue
  pages/actors/index.vue
  pages/discover/[type].vue
  pages/index.vue
  pages/search/index.vue
  pnpm-lock.yaml
  types/pages/actors_id.ts
  types/pages/actors_index.ts
  types/pages/discover_type.ts
  types/pages/index.ts
  types/pages/search_index.ts
  types/pages/type_id_credits.ts
  types/pages/type_id_gallery.ts
  types/pages/type_id_index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(pages): :sparkles: 删除usei18n
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/index.vue
  pages/actors/index.vue
  pages/index.vue
  pages/search/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

style(pages): :lipstick: 首页添加typescript类型
  pages/index.vue
  types/pages/home.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(pages): :memo: 补充typescript文档
  docs/common-patterns.md
  docs/typescript-guide.md
Due: prettier --write

docs: :memo: 文档补充
  docs/typescript-guide.md
Due: prettier --write

style(pages): :lipstick: search页面补充类型
  pages/search/index.vue
  types/pages/search.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(pages): :recycle: 补充search页面的typescript类型
  components/Search/SearchBox.vue
  components/Search/SearchSuggestions.vue
  pages/search/index.vue
  types/pages/search.ts
Due: eslint --fix, prettier --write, stylelint --fix

style(pages): :lipstick: 补充typescript类型
  pages/discover/[type].vue
  types/pages/discover.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: :memo: 补充文档
  .cursorrules
  docs/common-patterns.md
Due: prettier --write

style(utils): :lipstick: http请求补充typescript类型
  composables/useHttp.ts
  types/apiType/README.md
  types/apiType/http.ts
  types/apiType/index.ts
  types/pages/discover.ts
Due: eslint --fix, prettier --write

style(pages): :lipstick: 演员页补充typescript类型
  docs/typescript-guide.md
  pages/actors/[id].vue
  pages/actors/index.vue
  types/pages/actors.ts
Due: eslint --fix, prettier --write, stylelint --fix

style(pages): :lipstick: 补充type类型
  pages/[type]/[id]/credits.vue
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
  types/pages/details.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: :sparkles: 翻译文件补充
  docs/memo.md
  language/ar.ts
  language/en.ts
  language/ja.ts
  language/ko.ts
  language/zh.ts
Due: eslint --fix, prettier --write

feat(pages): :sparkles: 补充页面翻译映射
  pages/[type]/[id]/gallery.vue
  pages/[type]/[id]/index.vue
  pages/discover/[type].vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(utils): :sparkles: 配置pinia有效期
  nuxt.config.ts
  stores/language.ts
Due: eslint --fix, prettier --write

feat(pages): :sparkles: 补充首页的跳转方式
  docs/memo.md
  pages/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: ((any of: *.{js,ts,vue}) or (any of: *.{css,scss,vue})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{css,scss,vue}
